<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message board</title>
    <link rel="stylesheet" href="../static/messageboard-style.css">   
</head>
<body>
    <div class="container">
        <h1>Message Board</h1>
        <button class="submit-btn" onclick="redirect()">Message</button>  
        <div class="message-board" id="messageBoard">
            {%if messagelist%}
                {%for row in messagelist%}
                    <div class="message">
                        <div class="message-title">
                        {{row[4]}}
                        </div><br>
                        {{row[1]}}
                        {{row[3]}}
                    </div>
                {%endfor%}
            {% else %}
                <div>
                    No one leaves messages...
                </div>
            {% endif %}
        </div>
        <div class="pagination" id="pagination">
            <!-- Pagination buttons will be dynamically created here -->
        </div>
    </div>   
</body>
<script>
    function redirect() {
        // 跳转到另一个网页
        window.location.href = "/leavemessage";
    }
    </script>
</html>
